* {
  margin: 0px;
}

#more {
  display: none;
}

.hide:hover .hide-item,
.hide:focus .hide-item {
  transform: scale(0);
  /*
  alternatively:
  transform: translate(-999px, 0);
*/
}

/* other styles */
body {
  font-family: sans-serif;
  font-size: 100%;
  color: #222;
  background-color: #fff;
}

/* p {
  text-align: center;
} */

.hide {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hide > * {
  flex: 0 0 25%;
  font-size: 2em;
  text-align: center;
  padding: 1em 0;
  margin: 0.2em;
  background-color: #ccc;
  border-radius: 0.5em;
  user-select: none;
}

.hide-item {
  background-color: #f66;
  cursor: pointer;
}
/* The circles on the timeline */
.containerq::after {
  margin-left: 22px;
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  left: -50px;
  background-color: #199cdb;
  border: 0.4px solid white;
  top: 4px;
  border-radius: 50%;
  z-index: 1;
}

/*Grid Layout*/

.container-y {
  padding-left: 340px;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  margin-top: 50px;
}

.container-x {
  background: hsl(0, 2%, 90%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 400px;
}

.container-z {
  background: #ffffff;
  display: grid;
  grid-template-columns: 600px 750px;
  row-gap: 10px;
  grid-template-rows: 150px;
}

.container-1 {
  background: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* padding-left: 300px; */
  row-gap: 100px;
  column-gap: 20px;

  /* background-color: aqua; */
  grid-template-rows: 200px;
}

.target {
  /* justify-content: center; */
  text-align: start;
  padding-left: 400px;
  /* padding-right: 150px; */
}

.personal-info {
  /* justify-content: center; */
  text-align: start;
  /* padding-left: 200px; */
}

/*------------*/

section > .container {
  width: 1170px;
  margin: 50px 300px;
  display: block;

  padding: 30px 50px;
}
/* LINK */
a {
  color: #000000;
  text-decoration: none;
}

.containerq {
  position: relative;
  /* text-align: start; */

  color: #000000;
}

.container {
  position: relative;
  /* text-align: start; */

  color: #000000;
}

.centered {
  position: absolute;
  top: 20%;
  left: 40%;
}

#nav-bar {
  /* text-align: center; */
  background-color: #ffffff;
  /* position: relative; */
  /* top: 65%;
  left: 15%; */
}

#nav-bar a {
  text-decoration: none;
}

#nav-bar a:link {
  color: black;
}

#nav-bar a:visited {
  color: black;
}

#nav-bar a:hover {
  color: black;
}

#nav-bar a:active {
  color: black;
}

/* -------------------------- */
/* CLASSES TO MAKE MODAL WORK */
.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
